:root {
  /* Accent Colors */
  --accent-color: oklch(0.65 0.11 212.89 / 1);
  --accent-bg-color: oklch(0.66 0.18 273.13 / 1);
  --accent-fg-color: oklch(0.96 0.01 264.53 / 1);
  --view-switcher-accent: oklch(0.50 0.12 273.13);

  /* Destructive Colors */
  --destructive-color: oklch(0.55 0.22 19.81 / 1);
  --destructive-bg-color: oklch(0.63 0.20 20.27 / 1);
  --destructive-fg-color: oklch(0.96 0.01 264.53 / 1);

  /* Success Colors */
  --success-color: oklch(0.60 0.10 201.10 / 1);
  --success-bg-color: oklch(0.63 0.18 140.44 / 1);
  --success-fg-color: oklch(0.96 0.01 264.53 / 1);

  /* Warning Colors */
  --warning-color: oklch(0.71 0.15 67.78 / 1);
  --warning-bg-color: oklch(0.69 0.20 42.43 / 1);
  --warning-fg-color: oklch(0.44 0.04 279.33 / 1);

  /* Error Colors */
  --error-color: oklch(0.55 0.22 19.81 / 1);
  --error-bg-color: oklch(0.63 0.20 20.27 / 1);
  --error-fg-color: oklch(0.96 0.01 264.53 / 1);

  /* Window Colors */
  --window-bg-color: oklch(0.96 0.01 264.53 / 1);
  --window-fg-color: oklch(0.44 0.04 279.33 / 1);

  /* View Colors */
  --view-bg-color: oklch(0.93 0.01 264.52 / 1);
  --view-fg-color: oklch(0.44 0.04 279.33 / 1);

  /* Header Bar Colors */
  --headerbar-bg-color: oklch(0.91 0.01 264.51 / 1);
  --headerbar-fg-color: oklch(0.44 0.04 279.33 / 1);
  --headerbar-border-color: oklch(0.71 0.02 274.60 / 1);
  --headerbar-backdrop-color: oklch(0.96 0.01 264.53 / 0.80);
  --headerbar-shade-color: oklch(0 0 0 / 0.07);
  --headerbar-darker-shade-color: oklch(0 0 0 / 0.12);

  /* Sidebar Colors */
  --sidebar-bg-color: oklch(0.91 0.01 264.51 / 1);
  --sidebar-fg-color: oklch(0.44 0.04 279.33 / 1);
  --sidebar-backdrop-color: oklch(0.93 0.01 264.52 / 1);
  --sidebar-border-color: oklch(0 0 0 / 0.07);
  --sidebar-shade-color: oklch(0 0 0 / 0.07);

  /* Secondary Sidebar Colors */
  --secondary-sidebar-bg-color: oklch(0.86 0.01 268.48 / 1);
  --secondary-sidebar-fg-color: oklch(0.44 0.04 279.33 / 1);
  --secondary-sidebar-backdrop-color: oklch(0.81 0.02 271.20 / 1);
  --secondary-sidebar-border-color: oklch(0 0 0 / 0.07);
  --secondary-sidebar-shade-color: oklch(0 0 0 / 0.07);

  /* Card Colors */
  --card-bg-color: oklch(0.93 0.01 264.52 / 1);
  --card-fg-color: oklch(0.44 0.04 279.33 / 1);
  --card-shade-color: oklch(0 0 0 / 0.07);

  /* Thumbnail Colors */
  --thumbnail-bg-color: oklch(0.96 0.01 264.53 / 1);
  --thumbnail-fg-color: oklch(0.44 0.04 279.33 / 1);

  /* Dialog Colors */
  --dialog-bg-color: oklch(0.93 0.01 264.52 / 1);
  --dialog-fg-color: oklch(0.44 0.04 279.33 / 1);

  /* Popover Colors */
  --popover-bg-color: oklch(0.93 0.01 264.52 / 1);
  --popover-fg-color: oklch(0.44 0.04 279.33 / 1);
  --popover-shade-color: oklch(0 0 0 / 0.07);

  /* Miscellaneous Colors */
  --shade-color: oklch(0 0 0 / 0.07);
  --scrollbar-outline-color: oklch(1 0 0 / 1);

  /* Helper Colors */
  --borders: oklch(0 0 0 / 15%);

  /* Palette Colors */
  --blue-1: oklch(0.80 0.08 253.32 / 1);
  --blue-2: oklch(0.70 0.13 253.81 / 1);
  --blue-3: oklch(0.61 0.16 255.34 / 1);
  --blue-4: oklch(0.56 0.18 256.43 / 1);
  --blue-5: oklch(0.49 0.15 256.36 / 1);

  --green-1: oklch(0.88 0.14 149.71 / 1);
  --green-2: oklch(0.82 0.18 152.10 / 1);
  --green-3: oklch(0.76 0.18 153.61 / 1);
  --green-4: oklch(0.72 0.16 157.74 / 1);
  --green-5: oklch(0.63 0.14 157.86 / 1);

  --yellow-1: oklch(0.94 0.15 105.39 / 1);
  --yellow-2: oklch(0.91 0.15 100.93 / 1);
  --yellow-3: oklch(0.87 0.17 96.01 / 1);
  --yellow-4: oklch(0.84 0.17 89.13 / 1);
  --yellow-5: oklch(0.76 0.16 80.30 / 1);

  --orange-1: oklch(0.85 0.12 70.28 / 1);
  --orange-2: oklch(0.79 0.15 61.99 / 1);
  --orange-3: oklch(0.72 0.19 49.76 / 1);
  --orange-4: oklch(0.65 0.18 45.56 / 1);
  --orange-5: oklch(0.57 0.17 40.75 / 1);

  --red-1: oklch(0.68 0.19 28.95 / 1);
  --red-2: oklch(0.62 0.22 24.71 / 1);
  --red-3: oklch(0.58 0.22 26.62 / 1);
  --red-4: oklch(0.52 0.20 24.70 / 1);
  --red-5: oklch(0.47 0.17 21.40 / 1);

  --purple-1: oklch(0.75 0.15 326.49 / 1);
  --purple-2: oklch(0.64 0.18 323.36 / 1);
  --purple-3: oklch(0.53 0.18 316.65 / 1);
  --purple-4: oklch(0.49 0.16 315.20 / 1);
  --purple-5: oklch(0.42 0.13 307.80 / 1);

  --brown-1: oklch(0.76 0.06 61.31 / 1);
  --brown-2: oklch(0.65 0.08 59.94 / 1);
  --brown-3: oklch(0.56 0.08 59.75 / 1);
  --brown-4: oklch(0.52 0.07 60.61 / 1);
  --brown-5: oklch(0.42 0.06 60.20 / 1);

  --light-1: oklch(1 0 0 / 1);
  --light-2: oklch(0.97 0 67.80 / 1);
  --light-3: oklch(0.90 0 91.45 / 1);
  --light-4: oklch(0.80 0 91.46 / 1);
  --light-5: oklch(0.68 0 91.47 / 1);

  --dark-1: oklch(0.57 0.01 295.33 / 1);
  --dark-2: oklch(0.48 0.01 297.35 / 1);
  --dark-3: oklch(0.35 0.02 301.42 / 1);
  --dark-4: oklch(0.25 0.03 296.66 / 1);
  --dark-5: oklch(0 0 0 / 1);
}

.view-switcher a,
.view-switcher-narrow a {
  color: oklch(0.44 0.04 279.33 / 0.80);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Accent Colors */
    --accent-color: oklch(0.82 0.09 277.31 / 1);
    --accent-bg-color: oklch(0.82 0.09 277.31 / 1);
    --accent-fg-color: oklch(0.18 0.02 284.20 / 1);
    --view-switcher-accent: oklch(0.7664 0.1113 273.13);

    /* Destructive Colors */
    --destructive-color: oklch(0.77 0.10 14.37 / 1);
    --destructive-bg-color: oklch(0.74 0.13 11.19 / 1);
    --destructive-fg-color: oklch(0.18 0.02 284.20 / 1);

    /* Success Colors */
    --success-color: oklch(0.83 0.11 138.15 / 1);
    --success-bg-color: oklch(0.82 0.08 184.10 / 1);
    --success-fg-color: oklch(0.18 0.02 284.20 / 1);

    /* Warning Colors */
    --warning-color: oklch(0.80 0.11 49.64 / 1);
    --warning-bg-color: oklch(0.88 0.07 84.75 / 1);
    --warning-fg-color: oklch(0.18 0.02 284.20 / 1);

    /* Error Colors */
    --error-color: oklch(0.77 0.10 14.37 / 1);
    --error-bg-color: oklch(0.74 0.13 11.19 / 1);
    --error-fg-color: oklch(0.18 0.02 284.20 / 1);

    /* Window Colors */
    --window-bg-color: oklch(0.24 0.03 283.91 / 1);
    --window-fg-color: oklch(0.88 0.04 272.28 / 1);

    /* View Colors */
    --view-bg-color: oklch(0.22 0.03 284.06 / 1);
    --view-fg-color: oklch(0.88 0.04 272.28 / 1);

    /* Header Bar Colors */
    --headerbar-bg-color: oklch(0.18 0.02 284.20 / 1);
    --headerbar-fg-color: oklch(0.88 0.04 272.28 / 1);
    --headerbar-border-color: oklch(0.32 0.03 281.98 / 1);
    --headerbar-backdrop-color: oklch(0.24 0.03 283.91 / 0.80);
    --headerbar-shade-color: oklch(0 0 0 / 0.36);
    --headerbar-darker-shade-color: oklch(0 0 0 / 0.90);

    /* Sidebar Colors */
    --sidebar-bg-color: oklch(0.27 0.03 275.12 / 1);
    --sidebar-fg-color: oklch(0.86 0.05 273.35 / 1);
    --sidebar-backdrop-color: oklch(0.30 0.03 276.21 / 1);
    --sidebar-border-color: oklch(0 0 0 / 0.36);
    --sidebar-shade-color: oklch(0 0 0 / 0.25);

    /* Secondary Sidebar Colors */
    --secondary-sidebar-bg-color: oklch(0.39 0.03 275.90 / 1);
    --secondary-sidebar-fg-color: oklch(0.86 0.05 273.35 / 1);
    --secondary-sidebar-backdrop-color: oklch(0.46 0.04 272.97 / 1);
    --secondary-sidebar-border-color: oklch(0 0 0 / 0.36);
    --secondary-sidebar-shade-color: oklch(0 0 0 / 0.25);

    /* Card Colors */
    --card-bg-color: oklch(0.32 0.03 281.98 / 1);
    --card-fg-color: oklch(0.88 0.04 272.28 / 1);
    --card-shade-color: oklch(0 0 0 / 0.36);

    /* Thumbnail Colors */
    --thumbnail-bg-color: oklch(0.52 0.04 274 / 1);
    --thumbnail-fg-color: oklch(0.86 0.05 273.35 / 1);

    /* Dialog Colors */
    --dialog-bg-color: oklch(0.22 0.03 284.06 / 1);
    --dialog-fg-color: oklch(0.88 0.04 272.28 / 1);

    /* Popover Colors */
    --popover-bg-color: oklch(0.22 0.03 284.06 / 1);
    --popover-fg-color: oklch(0.88 0.04 272.28 / 1);
    --popover-shade-color: oklch(0 0 0 / 0.36);

    /* Miscellaneous Colors */
    --shade-color: oklch(0 0 0 / 0.36);
    --scrollbar-outline-color: oklch(0 0 0 / 0.50);

    /* Helper Colors */
    --borders: oklch(1 0 0 / 0.5);
  }

  .view-switcher a:hover,
  .view-switcher a:focus,
  .view-switcher-narrow a:hover,
  .view-switcher-narrow a:focus {
    background-color: oklch(1 0 0 / 0.04);
    color: var(--window-fg-color);
  }

  .view-switcher .current,
  .view-switcher-narrow .current {
    background-color: oklch(1 0 0 / 0.06);
  }

  .view-switcher .current:hover,
  .view-switcher .current:focus,
  .view-switcher-narrow .current:hover,
  .view-switcher-narrow .current:focus {
    background-color: oklch(1 0 0 / 0.10);
  }

  .view-switcher a,
  .view-switcher-narrow a {
    color: oklch(0.88 0.04 272.28 / 0.80);
  }

  .view-switcher-narrow {
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1), 
                0 0 1rem rgba(0, 0, 0, 0.05),
                inset 0 1px 1px oklch(1 0 0 / 0.10),
                inset 0 0 0.27rem oklch(1 0 0 / 0.10);
  }
  
  .view-switcher {
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1), 
                0 0 1rem rgba(0, 0, 0, 0.05),
                inset 0 1px 1px oklch(1 0 0 / 0.10),
                inset 0 0 0.27rem rgba(255, 255, 255, 0.1);
  }
}

@supports (color: AccentColor) {
  :root{
    --accent-bg-color: oklch(from AccentColor 0.6638 0.1751 h);
    --window-bg-color: oklch(from AccentColor 0.9578 0.0058 h);
    --card-bg-color: oklch(from AccentColor 0.9335 0.0087 h);
    --headerbar-backdrop-color: oklch(from AccentColor 0.9578 0.0058 h / 80%);
    --view-switcher-accent: oklch(from AccentColor 0.50 0.12 h);
  }
  @media (prefers-color-scheme: dark) {
    :root{
      --accent-bg-color: oklch(from AccentColor 0.7664 0.1113 h);
      --window-bg-color: oklch(from AccentColor 0.2429 0.0304 h);
      --card-bg-color: oklch(from AccentColor 0.3240 0.0319 h);
      --headerbar-backdrop-color: oklch(from AccentColor 0.2429 0.0304  h / 70%);
      --view-switcher-accent: oklch(from AccentColor 0.7664 0.1113 h);
    }
  }
}
