:root{
  --accent-bg-color: oklch(from AccentColor 0.6638 0.1751 h);
  --window-bg-color: oklch(from AccentColor 0.9578 0.0058 h);
}

@media (prefers-color-scheme: dark) {
  .view-switcher a:hover,
  .view-switcher a:focus,
  .view-switcher-narrow a:hover,
  .view-switcher-narrow a:focus {
    background-color: rgba(255, 255, 255, 0.056);
  }

  .view-switcher .current,
  .view-switcher-narrow .current {
    background-color: rgba(255, 255, 255, 0.08);
  }

  .view-switcher .current:hover,
  .view-switcher .current:focus,
  .view-switcher-narrow .current:hover,
  .view-switcher-narrow .current:focus {
    background-color: rgba(255, 255, 255, 0.136);
  }
}
