@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

/* View Switcher */
.view-switcher {
  display: flex; /* Horizontally align the list items */
  justify-content: center; /* Center the items */
  gap: 0px; /* Space between items */
  padding: 0; /* Remove padding */
}

.view-switcher ul {
  display: flex; /* Ensure the <ul> is also displayed in a row */
  list-style: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
}

.view-switcher li {
  display: inline-block;
}

.view-switcher a {
  color: rgb(var(--ctp-latte-text-rgb));
  text-decoration: none;
  font-weight: bold;
  padding: 8px 32px; /* Increased horizontal padding for wider boxes */
  border-radius: 6px;
}

.view-switcher a:hover,
.view-switcher a:focus {
  background-color: rgba(var(--ctp-latte-overlay1-rgb), 1); /* Latte hover/focus */
  padding: 8px 32px; /* Ensure the padding is the same on hover/focus */
  border-radius: 6px;
}

.view-switcher .current {
  background-color: rgb(var(--ctp-latte-crust-rgb));
  padding: 8px 32px; /* Ensure the padding is the same for the current item */
  border-radius: 6px;
}

/* Headerbar */
.headerbar {
  display: flex;
  justify-content: center; /* Center the view switcher horizontally */
  align-items: center; /* Align items vertically in the center */
  height: 47px; /* Set the headerbar height to 47px */
  padding: 0; /* Remove padding around the header */
  width: 100%; /* Ensure the header bar spans the full width */
}

body {
  background: rgb(var(--ctp-latte-base-rgb)); /* Default to latte theme */
}

h1 {
  color: var(--ctp-latte-lavender);
  font-size: 4.5rem;
  font-weight: 900;
  letter-spacing: -0.04em;
  line-height: 0.9em;
  margin: 0 0 0.25em;
}

:root { 
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* Chrome fix */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  /* View Switcher */
  .view-switcher a {
    color: rgb(var(--ctp-frappe-text-rgb)); /* Frappe text color */
  }

  .view-switcher a:hover,
  .view-switcher a:focus {
    background-color: rgba(var(--ctp-frappe-overlay1-rgb), 1); /* Frappe hover/focus */
  }

  .view-switcher .current {
    background-color: rgb(var(--ctp-frappe-crust-rgb)); /* Frappe current item */
  }

  body {
    background: rgb(var(--ctp-frappe-base-rgb)); /* Frappe background */
  }

  h1 {
    color: var(--ctp-frappe-lavender); /* Frappe lavender color */
  }
}
