@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

/* Root Variables - Light Mode (Default) */
:root {
  --ctp-text: var(--ctp-latte-text);
  --ctp-base: var(--ctp-latte-base);
  --ctp-blue: var(--ctp-latte-blue);
  --ctp-lavender: var(--ctp-latte-lavender);
  --ctp-base-translucent: 239, 241, 245;
  --ctp-antitext: var(--ctp-frappe-text);
  --ctp-antibase: var(--ctp-frappe-base);
  --ctp-antiblue: var(--ctp-frappe-blue);
  --ctp-antilavender: var(--ctp-frappe-lavender);
}

/* Root Variables */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 16px;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* Body */
body {
  background: var(--ctp-base);
  color: var(--ctp-text);
  margin: 0;
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Links */
a {
  color: var(--ctp-blue);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  font-variation-settings: "wght" 600; /* Ensures weight applies properly */
}

/* Content */
.content {
  margin: 1em;
  padding: 2em 0 4em;
  flex-grow: 1;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  margin: 2rem 0 1rem;
  font-weight: 800;
  line-height: 1.25;
}

h1 {
  color: var(--ctp-lavender);
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -0.04em;
  line-height: 1.25;
  margin: 0 0 0.25em;
}

/* Header Bar */
.headerbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.9375rem;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0;
  background-color: rgba(var(--ctp-base-translucent), 0.8);
  backdrop-filter: blur(12px);
  z-index: 9999;
}

/* View Switcher */
.view-switcher {
  display: flex;
  justify-content: center;
  padding: 0;
}

.view-switcher ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.25rem;
}

.view-switcher li {
  display: inline-block;
}

.view-switcher a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.25rem;
  height: 2rem;
  color: var(--ctp-text);
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.view-switcher a:hover,
.view-switcher a:focus {
  background-color: rgba(0, 0, 0, 0.025);
}

.view-switcher .current {
  background-color: rgba(0, 0, 0, 0.05);
}

.view-switcher a svg {
  margin-right: 0.25rem;
}

/* Footer */
body > footer {
  background-color: var(--ctp-antibase);
  color: var(--ctp-antitext);
  line-height: 4em;
  padding: 1rem 1rem 0;
  text-align: center;
  margin-top: auto;
}

/* Social Links */
.social {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social li {
  margin: 0 0.5rem;
}

.social a {
  color: inherit;
  text-decoration: none;
}

/* Tiles Grid */
.cards-grid {
  display: grid;
  column-gap: 1rem; 
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3rem; 
  margin-left: 0;
  margin-right: 0; 
  margin-top: 0.5rem; 
  row-gap: 1rem;
}

@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

/* Tiles */
.tile {
  margin: 1rem;
  padding: 54px;
  border-radius: 24px;
  background-color: var(--ctp-antibase);
  color: var(--ctp-antitext);
}

.tile a {
  color: var(--ctp-antiblue);
  font-variation-settings: "wght" 600;
}

.tile h3 {
  margin: 0;
  font-size: 1.2rem;
}

/* External Link Icon */
a[href^="http"]:not(:has(.arrow)):not(:has(img)):not(:has(svg))::after {
  margin: 0 0.1em 0 0.2em;
  content: "";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  mask-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMSIgZmlsbD0ibm9uZSI+PHBhdGggc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjgiIGQ9Ik04IDd2LjVhMiAyIDAgMCAxLTIgMkgzYTIgMiAwIDAgMS0yLTJ2LTNhMiAyIDAgMCAxIDItMmguNW0xIDMuNSA1LTVtMCAwSDZtMy41IDB2My41Ii8+PC9zdmc+");
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: currentColor;
}


/* Dark Mode - Automatically Applied if User Prefers Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --ctp-text: var(--ctp-frappe-text);
    --ctp-base: var(--ctp-frappe-base);
    --ctp-blue: var(--ctp-frappe-blue);
    --ctp-lavender: var(--ctp-frappe-lavender);
    --ctp-base-translucent: 48, 52, 70;
    --ctp-antitext: var(--ctp-latte-text);
    --ctp-antibase: var(--ctp-latte-base);
    --ctp-antiblue: var(--ctp-latte-blue);
    --ctp-antilavender: var(--ctp-latte-lavender)
  }

  .view-switcher a:hover,
  .view-switcher a:focus {
    background-color: rgba(255, 255, 255, 0.025);
  }
  
  .view-switcher .current {
    background-color: rgba(255, 255, 255, 0.05);
  }

}