:root {
  /* Background */
  --bg-color: oklch(0.985 0 0);
  --fg-color: oklch(0.2 0 0);

  /* Accent Colors */
  --accent-blue: oklch(0.6137 0.1643 255.34);
  --accent-teal: oklch(0.55 0.12 200);
  --accent-green: oklch(0.55 0.15 145);
  --accent-yellow: oklch(0.65 0.15 85);
  --accent-orange: oklch(0.6 0.18 45);
  --accent-red: oklch(0.662 0.2246 25.12);
  --accent-pink: oklch(0.6 0.18 340);
  --accent-purple: oklch(0.5 0.2 310);
  --accent-slate: oklch(0.55 0.05 230);

  /* Primary Accent */
  --accent-color: var(--accent-blue);
  --accent-bg-color: var(--accent-blue);
  --accent-fg-color: oklch(0.98 0.01 250);

  /* Destructive */
  --destructive-color: var(--accent-red);
  --destructive-bg-color: var(--accent-red);
  --destructive-fg-color: oklch(0.95 0.01 25);

  /* Cards */
  --card-bg-color: oklch(1 0 0);
  --card-fg-color: oklch(0.2 0 0 / 80%);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Background */
    --bg-color: oklch(0 0 0);
    --fg-color: oklch(1 0 0);

    /* Accent Colors */
    --accent-teal: oklch(0.45 0.12 200);
    --accent-green: oklch(0.45 0.15 145);
    --accent-yellow: oklch(0.35 0.15 85);
    --accent-orange: oklch(0.4 0.18 45);
    --accent-pink: oklch(0.4 0.18 340);
    --accent-purple: oklch(0.5 0.2 310);
    --accent-slate: oklch(0.45 0.05 230);

    /* Primary Accent */
    --accent-fg-color: oklch(0.95 0.01 250);

    /* Destructive */
    --destructive-fg-color: oklch(0.05 0.01 25);

    /* Cards */
    --card-bg-color: oklch(1 0 0 / 15%);
    --card-fg-color: oklch(1 0 0 / 100%);
  }
}
