/*@import "https://cdn.jsdelivr.net/gh/LinuxJava7/css/main.css";*/
@import "./main.css";
/* website specific stuff goes here */

:root {
  --font-family-base: "Google Sans Flex", system-ui, sans-serif;
  --font-family-heading: "Google Sans Flex", system-ui, sans-serif;

  font-size: 17px;

  font-variation-settings:
    "ROND" 75,
    "wdth" 95;
  font-optical-sizing: auto;
}
