/* layout.css */

:root {
  /* breakpoints */
  --breakpoint-md: 600px;
  --breakpoint-lg: 900px;
  --main-margin-y: 16px;
  --main-margin-bottom: 2rem;
}

/* --- Global Layout --- */
main {
  max-width: min(85%, var(--breakpoint-lg));
  margin-inline: auto;
  margin-block: var(--main-margin-y) var(--main-margin-bottom);
  display: flow-root;
}

footer > * {
  max-width: var(--breakpoint-lg);
  margin-left: auto;
  margin-right: auto;
}

/* --- Grid & List Scaling (Intrinsic Layout) --- */
.boxed-list-separate {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.boxed-list-separate > * {
  flex: 1 1 227.5px;
}

.boxed-list-separate > .horizontal {
  flex: 1 1 350px;
}

/* --- Desktop Logic (Above 600px) --- */
@media (min-width: 600px) {
  .bottombar {
    display: none;
  }

  /* if header has a navbar, hide the titlebox */
  .headerbar:has(.tab-bar) .titlebox {
    display: none;
  }
}

/* --- Mobile Logic (Below 600px) --- */
@media (max-width: 600px) {
  main {
    max-width: none;
    margin-inline: 16px;
  }

  .headerbar {
    padding: 6px 16px;
  }

  /* hide navbar in header on mobile (as it moves to bottombar) */
  .headerbar .tab-bar {
    display: none;
  }

  footer {
    /* padding based on whether bottombar exists */
    padding-bottom: calc(1.4rem + var(--bottom-nav-height));
  }
}
