/*@import "https://cdn.jsdelivr.net/gh/LinuxJava7/css@main/colors.css";*/
/*@import "https://cdn.jsdelivr.net/gh/LinuxJava7/css@main/widgets.css";*/
/*@import "https://cdn.jsdelivr.net/gh/LinuxJava7/css@main/typography.css";*/

@import "./colors.css";
@import "./widgets.css";
@import "./typography.css";

html,
body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

main {
  max-width: min(90%, 1680px);
  margin: 16px auto;
  display: flow-root;
  margin-bottom: 2rem;
}

main > *:first-child {
  margin-top: 0;
}

@media (max-width: 768px) {
  main {
    max-width: unset;
    margin: 16px;
    margin-bottom: 2rem;
  }
}
