/*main.css*/

/*@import "https://cdn.jsdelivr.net/gh/LinuxJava7/css@main/colors.css";*/
/*@import "https://cdn.jsdelivr.net/gh/LinuxJava7/css@main/widgets.css";*/
/*@import "https://cdn.jsdelivr.net/gh/LinuxJava7/css@main/typography.css";*/
/*@import "https://cdn.jsdelivr.net/gh/LinuxJava7/css@main/layout.css";*/

@import "./colors-tinted.css";
@import "./widgets.css";
@import "./typography.css";
@import "./layout.css";

:root {
  --bottom-nav-height: 0px;
  --z-below: -1;
  --z-base: 0;
  --z-nav: 100;
  --z-sticky: 200;
  --z-overlay: 300;
  --z-modal: 400;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--fg-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
}

body:has(.bottombar) {
  --bottom-nav-height: 5rem;
}
