/* cosie theme.css */
/* all colours must be in oklch */

:root {
  /* accent colours */
  --strawberry: oklch(0.5378 0.1944 24.71);
  --orange: oklch(0.6972 0.1772 46.22);
  --banana: oklch(0.8459 0.1532 85.77);
  --lime: oklch(0.7017 0.1899 134.48);
  --mint: oklch(0.7154 0.1237 177.91);
  --blueberry: oklch(0.6261 0.1612 253.88);
  --grape: oklch(0.6438 0.1746 304.02);
  --bubblegum: oklch(0.6165 0.2022 0.04);
  --latte: oklch(0.7395 0.1012 76.46);
  --cocoa: oklch(0.4698 0.0467 47.7);

  /* base */
  --background: oklch(0.98 0.006 93);

  /* text */
  --text-primary: oklch(0.19 0.002 106);
  --text-secondary: oklch(from var(--text-primary) l c h / 0.7);
  --text-muted: oklch(from var(--text-primary) l c h / 0.5);

  /* surfaces */
  --surface: oklch(from var(--background) calc(l - 0.03) c h);
  --surface-soft: oklch(from var(--background) calc(l - 0.015) c h);
  --surface-elevated: oklch(1 0 0); /* cards, modals */

  --footer-bg: oklch(0.21 0.004 106);
  --footer-text: oklch(0.98 0.006 93);

  /* borders */
  --border: oklch(from var(--text-primary) l c h / 0.12);
  --border-strong: oklch(from var(--text-primary) l c h / 0.25);

  /* interactive */
  --accent: var(--grape);
  --accent-soft: oklch(from var(--accent) l c h / 0.12);
  --accent-muted: oklch(from var(--accent) calc(l + 0.1) c h / 0.6);

  /* code */
  --code-bg: oklch(from var(--latte) l c h / 0.12);
  --code-border: oklch(from var(--latte) l c h / 0.25);

  /* states */
  --success: var(--lime);
  --warning: var(--banana);
  --danger: var(--strawberry);

  --success-soft: oklch(from var(--success) l c h / 0.15);
  --warning-soft: oklch(from var(--warning) l c h / 0.15);
  --danger-soft: oklch(from var(--danger) l c h / 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.26 0.004 107);
    --text-primary: oklch(0.98 0.005 94);

    --surface: oklch(from var(--background) calc(l + 0.03) c h);
    --surface-soft: oklch(from var(--background) calc(l + 0.05) c h);
    --surface-elevated: oklch(from var(--background) calc(l + 0.11) c h);

    --border: oklch(from var(--text-primary) l c h / 0.06);
    --border-strong: oklch(from var(--text-primary) l c h / 0.125);
  }
}

:root {
  --font-heading: "Fraunces", serif;
  --font-body: "Fredoka", sans-serif;
  --font-mono: "Google Sans Code", ui-monospace, monospace;
}

:root {
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;

  --pad-xs: 0.3rem;
  --pad-sm: 0.6rem;
  --pad-md: 1rem;
  --pad-lg: 1.5rem;
}
