/*widgets.css*/

/*@import "https://cdn.jsdelivr.net/gh/LinuxJava7/css@main/buttons.css";*/
/*@import "https://cdn.jsdelivr.net/gh/LinuxJava7/css@main/cards.css";*/
/*@import "https://cdn.jsdelivr.net/gh/LinuxJava7/css@main/nav.css";*/

@import "./buttons.css";
@import "./cards.css";
@import "./nav.css";

/* Global/Shared Widget styles */

/* Images */
img {
  max-width: 100%;
  height: auto;
  border-radius: var(--card-radius);
}

/* Footer */
footer {
  background-color: var(--surface-color);
  padding: 1.4rem;
  display: block;
  color: var(--fg-color);
  border-radius: var(--card-radius) var(--card-radius) 0 0;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  margin-top: auto;
  text-align: center;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.social {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  margin-top: 0;
}

.social li {
  margin: 0 0.5rem;
}

.social a {
  color: inherit;
  text-decoration: none;
}
