---
import TabBarSmall from "./TabBarSmall.astro";
---

<style>
  #bottom-bar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    padding: 25px;
    padding-top: 16px;
    padding-bottom: 20px;
    z-index: 1;
  }
</style>

<div id="bottom-bar">
  <TabBarSmall />
</div>
