---
import AccentButton from "./AccentButton.astro";
import TabBarLarge from "./TabBarLarge.astro";

const { pageTitle } = Astro.props;
---

<style>
  #header-bar {
    display: flex;
    box-sizing: border-box;
    height: 80px;
    padding: 1rem;
    position: sticky;
    top: 0;
    align-items: stretch;
    z-index: 1;

    .centre,
    .leading,
    .trailing {
      display: flex;
      flex-grow: 1;
      flex-basis: 0;
    }

    .centre {
      justify-content: center;
      align-items: center;
      flex-grow: 2;
    }

    .trailing {
      justify-content: right;
    }

    .titlebox {
      display: none;
      margin: 0;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      background-color: oklch(from var(--accent-color) 0.98 0.03 h / 90%);
      padding: 4px 16px;
      border-radius: 100px;
      backdrop-filter: blur(2px);

      justify-content: center;
      align-items: center;
      height: 44px;
      box-sizing: border-box;

      box-shadow:
        0 0.3rem 0.3rem rgba(0, 0, 0, 0.1),
        0 0 1rem rgba(0, 0, 0, 0.05),
        inset 0 1px 1px rgba(255, 255, 255, 0.5),
        inset 0 0 0.27rem rgba(255, 255, 255, 0.5);
    }
    .headerbar-title {
      display: inline-block;
      margin: 0;
      line-height: 118%;
    }
  }
</style>

<div id="header-bar">
  <div class="leading"></div>
  <div class="centre">
    <TabBarLarge />
    <div class="titlebox">
      <p class="headerbar-title">{pageTitle}</p>
    </div>
  </div>
  <div class="trailing">
    <AccentButton />
  </div>
</div>
