---
import { pages } from "./nav.js";
import { icons } from "./icons.js";
---

<style>
  #tab-bar-small {
    padding: 0.25rem;
    display: flex;
    justify-content: stretch;
    box-sizing: border-box;
    width: fit-content;
    height: 62px;
    backdrop-filter: blur(2px);
    border-radius: 999px;
    background-color: oklch(from var(--accent-color) 0.98 0.03 h / 90%);
    box-shadow:
      0 0.3rem 0.3rem rgba(0, 0, 0, 0.1),
      0 0 1rem rgba(0, 0, 0, 0.05),
      inset 0 1px 1px rgba(255, 255, 255, 0.5),
      inset 0 0 0.27rem rgba(255, 255, 255, 0.5);

    @media (prefers-color-scheme: dark) {
      background-color: oklch(from var(--accent-color) 0.24 0.017 h / 90%);
      box-shadow:
        0 0.3rem 0.3rem rgba(0, 0, 0, 0.1),
        0 0 1rem rgba(0, 0, 0, 0.05),
        inset 0 1px 1px oklch(1 0 0 / 0.1),
        inset 0 0 0.27rem rgba(255, 255, 255, 0.1);
    }

    .nav {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      .nav-item {
        border-radius: 999px;
        display: flex;

        a {
          width: 102px;
          padding: 8px;
          border-radius: inherit;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.2rem;
          font-weight: 600;
          font-size: 13px;
          line-height: 100%;
          text-decoration: none;
          color: var(--text-color);
          box-sizing: border-box;
        }

        a:hover {
          background-color: oklch(0 0 0 / 0.06);
          @media (prefers-color-scheme: dark) {
            background-color: oklch(1 0 0 / 0.06);
          }
        }

        a.active {
          font-weight: 750;
          background-color: oklch(0 0 0 / 0.04);
          color: var(--accent-color);
          @media (prefers-color-scheme: dark) {
            background-color: oklch(1 0 0 / 0.04);
          }
        }

        svg {
          width: 1.3rem;
          height: 1.3rem;
          flex-shrink: 0;
        }
      }
    }
  }
</style>

<script>
  const links = document.querySelectorAll(".nav-item a");
  const current = location.pathname;

  links.forEach((link) => {
    const href = new URL(link.href).pathname;

    if (href === "/" && current === "/") {
      link.classList.add("active");
      return;
    }

    if (href !== "/" && current.startsWith(href)) {
      link.classList.add("active");
    }
  });
</script>

<div id="tab-bar-small">
  <ul class="nav">
    {
      pages.map((page) => (
        <li class="nav-item">
          <a href={page.url}>
            {icons[page.url] && <Fragment set:html={icons[page.url]} />}
            {page.title.toLowerCase()}
          </a>
        </li>
      ))
    }
  </ul>
</div>
