---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "linuxjava7's blog";

const allPosts = Object.values(
  import.meta.glob("./blog/*.md", { eager: true }),
).sort((a, b) => {
  const dateA = new Date(a.frontmatter?.date ?? 0);
  const dateB = new Date(b.frontmatter?.date ?? 0);
  return dateB - dateA; // newest first
});
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
</BaseLayout>
