---
import Layout from "../layouts/layout.astro";
---

<Layout title="fuwaflow">
  <main>
    <section>
      <h1 style="color: var(--accent);" class="h0">fuwaflow</h1>
      <p>
        hi!!! welcome to my little corner of the internet! i'm <strong
          >fuwaflow</strong
        >, a hobbyist designer and maker! i really love open source and i enjoy
        making apps for the <a href="https://gnome.org/">GNOME</a> and <a
          href="https://elementary.io/">elementary</a
        > ecosystems. i also love dabbling in app development for Apple platforms
        whenever i get the chance!
      </p>
      <p>
        this website is where i'll eventually showcase the work i'm proud of
        (once i actually finish some), and share projects and people i find
        cool! feel free to take a look around! i think you'll find some really
        lovely stuff!
      </p>
      <hr />
    </section>

    <section>
      <h2>about me</h2>
      <p>
        i like making designs that are capable but easy to understand. a big
        part of design to me is it being a medium to make the content
        shine—whilst also having character.
      </p>
      <blockquote>
        <p>
          True simplicity is derived from so much more than just the absence of
          clutter and ornamentation. It's about bringing order to complexity.
        </p>
        <cite>— jony ive</cite>
      </blockquote>
      <hr />
    </section>

    <section>
      <h2>what i've done</h2>
      <p>some things i've worked on in the past</p>
      <h3><a href="https://buildtheearth.net">BuildTheEarth.net</a></h3>
      <p>
        a project that aims to recreate the Earth in Minecraft. the main project
        is a Guinness World Record holder for the largest Minecraft project in
        the world!
      </p>
      <ul>
        <li>
          <strong>Middle East Team</strong> — i worked as the system administrator
          for the minecraft server and now i oversee the middle eastern team as a
          manager.
        </li>
        <li>
          <strong>Support Staff</strong> — volunteered as support staff from 2020
          to 2023, helping users with technical issues.
        </li>
      </ul>
      <h3><a href="https://github.com/Avdan-OS/">AvdanOS</a></h3>
      <p>a Linux desktop environment project based on a concept by Avdan.</p>
      <ul>
        <li>
          <strong>UI Designer</strong> — worked from 2022 to 2023 creating UI mockups
          and design systems for the desktop
        </li>
      </ul>
      <hr />
    </section>

    <section>
      <h2>cool projects</h2>
      <p>here are some great projects that i love and/or work with:</p>
      <div class="card-grid">
        <div class="card">
          <h3>GNOME</h3>
          <p>a linux desktop ecosystem, with great design and accessibility.</p>
          <a href="https://gnome.org/">visit gnome</a>
        </div>
        <div class="card">
          <h3>elementaryOS</h3>
          <p>a beautiful, accessible, well-designed linux distribution.</p>
          <a href="https://elementary.io/">visit elementaryOS</a>
        </div>
        <div class="card">
          <h3>Natsumi Browser</h3>
          <p>an awesome userchrome theme for firefox and forks.</p>
          <a href="https://github.com/greeeen-dev/natsumi-browser"
            >view on github</a
          >
        </div>
      </div>
      <hr />
    </section>

    <section>
      <h2>cool people</h2>
      <p>
        here are some really talented people i admire and love collaborating
        with:
      </p>
      <div class="card-grid">
        <div class="card">
          <h3>Izzy</h3>
          <a href="https://fizzyizzy05.dev/">visit izzy's site</a>
        </div>
        <div class="card">
          <h3>Zoey</h3>
          <a href="https://zoeythewitch.page/">visit zoey's site</a>
        </div>
        <div class="card">
          <h3>TheEvilSkeleton</h3>
          <a href="https://tesk.page/">visit their site</a>
        </div>
        <div class="card">
          <h3>kramo</h3>
          <a href="https://kramo.page/">visit kramo's site</a>
        </div>
        <div class="card">
          <h3>Jamie</h3>
          <a href="https://jamie.garden/">visit jamie's site</a>
        </div>
        <div class="card">
          <h3>green</h3>
          <a href="https://greeeen.dev/">visit green's site</a>
        </div>
        <div class="card">
          <h3>Heliguy</h3>
          <a href="https://github.com/heliguy4599">visit on github</a>
        </div>
      </div>
      <hr />
    </section>

    <section>
      <h2>find me</h2>
      <ul>
        <li><a href="https://github.com/fuwaflow">github</a></li>
      </ul>
      <hr />
    </section>

    <p>thanks for visiting!</p>
  </main>
</Layout>
