---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "linuxjava7";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="h0"><b>linuxjava7</b></h1>
  <section>
    <p>
      hey there! welcome to my website! i'm <strong>linuxjava7</strong>, a
      hobbyist UI/UX designer and frontend developer. i really love open source
      and i enjoy making apps for the <a href="https://gnome.org/">GNOME</a> ecosystem.
      i also love dabbling in app development for Apple platforms whenever i get the
      chance.
    </p>
    <p>
      this website is where i showcase the work i'm proud of, and share projects
      and people i find cool! feel free to check out them below, i think you'll
      find some really cool stuff!
    </p>
  </section>
  <section>
    <section>
      <h2><b>cool projects</b></h2>
      <p>here are some great projects that i love and/or work with:</p>
      <ul class="boxed-list-separate grid">
        <li class="card tinted" style="--accent-color: #1c71d8">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/9/97/GNOME_Shell.png"
            alt="GNOME"
            style="width: 100%; aspect-ratio: 16 / 9; object-fit: cover;"
          />
          <div class="card-header">
            <h3><b>GNOME</b></h3>
          </div>
          <div class="card-body">
            <p>
              a linux desktop ecosystem, with great design and accessibility.
            </p>
          </div>
          <div class="card-footer">
            <a href="https://gnome.org/">visit gnome</a>
          </div>
        </li>
        <li class="card tinted" style="--accent-color: #6db6f9">
          <img
            src="https://elementary.io/images/screenshots/desktop.jpg"
            alt="elementary"
            style="width: 100%; aspect-ratio: 16 / 9; object-fit: cover;"
          />
          <div class="card-header">
            <h3><b>elementaryOS</b></h3>
          </div>
          <div class="card-body">
            <p>a beautiful, accessible, well-designed linux distribution.</p>
          </div>
          <div class="card-footer">
            <a href="https://elementary.io/">visit elementaryOS</a>
          </div>
        </li>
        <li class="card tinted" style="--accent-color: #FFB787">
          <img
            src="https://github.com/greeeen-dev/natsumi-browser/blob/main/images/main-backgroundless.webp?raw=true"
            alt="Natsumi Browser"
            style="width: 100%; aspect-ratio: 16 / 9; object-fit: cover;"
          />
          <div class="card-header">
            <h3><b>Natsumi Browser</b></h3>
          </div>
          <div class="card-body">
            <p>an awesome userchrome theme for firefox and forks.</p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/greeeen-dev/natsumi-browser"
              >view on github</a
            >
          </div>
        </li>
      </ul>
      <h2><b>cool people</b></h2>
      <p>
        here are some really talented people i admire and love collaborating
        with:
      </p>
      <ul class="boxed-list-separate grid">
        <li class="card tinted horizontal" style="--accent-color: #93f6d8">
          <img src="https://fizzyizzy05.dev/img/kiki-pfp-min.png" alt="Izzy" />
          <div class="card-content">
            <div class="card-header">
              <h3><b>Izzy</b></h3>
            </div>
            <div class="card-body"></div>
            <div class="card-footer">
              <a href="https://fizzyizzy05.dev/">visit izzy's site</a>
            </div>
          </div>
        </li>
        <li class="card tinted horizontal" style="--accent-color: #ffc0cb">
          <img
            src="https://gitlab.gnome.org/uploads/-/system/user/avatar/145109/avatar.png"
            alt="Zoey"
          />
          <div class="card-content">
            <div class="card-header">
              <h3><b>Zoey</b></h3>
            </div>
            <div class="card-body"></div>
            <div class="card-footer">
              <a href="https://zoeythewitch.page/">visit zoey's site</a>
            </div>
          </div>
        </li>
        <li class="card tinted horizontal" style="--accent-color: #78ff00">
          <img
            src="https://tesk.page/assets/logo-256x256.webp"
            alt="TheEvilSkeleton"
          />
          <div class="card-content">
            <div class="card-header">
              <h3><b>TheEvilSkeleton</b></h3>
            </div>
            <div class="card-body"></div>
            <div class="card-footer">
              <a href="https://tesk.page/">visit their site</a>
            </div>
          </div>
        </li>
        <li class="card tinted horizontal" style="--accent-color: #ff4000">
          <img
            src="https://gitlab.gnome.org/uploads/-/system/user/avatar/99193/avatar.png"
            alt="kramo"
          />
          <div class="card-content">
            <div class="card-header">
              <h3><b>kramo</b></h3>
            </div>
            <div class="card-body"></div>
            <div class="card-footer">
              <a href="https://kramo.page/">visit kramo's site</a>
            </div>
          </div>
        </li>
        <li class="card tinted horizontal" style="">
          <img
            src="https://gitlab.gnome.org/uploads/-/system/user/avatar/112136/avatar.png"
            alt="Jamie"
          />
          <div class="card-content">
            <div class="card-header">
              <h3><b>Jamie</b></h3>
            </div>
            <div class="card-body"></div>
            <div class="card-footer">
              <a href="https://jamie.garden/">visit jamie's site</a>
            </div>
          </div>
        </li>
        <li class="card tinted horizontal" style="--accent-color: #94c565">
          <img
            src="https://greeeen.dev/assets/images/greenart.webp"
            alt="green"
          />
          <div class="card-content">
            <div class="card-header">
              <h3><b>green</b></h3>
            </div>
            <div class="card-body"></div>
            <div class="card-footer">
              <a href="https://greeeen.dev/">visit green's site</a>
            </div>
          </div>
        </li>
        <li
          class="card tinted horizontal"
          style="--accent-color: var(--accent-red)"
        >
          <img
            src="https://avatars.githubusercontent.com/u/95997226"
            alt="Heliguy"
          />
          <div class="card-content">
            <div class="card-header">
              <h3><b>Heliguy</b></h3>
            </div>
            <div class="card-body"></div>
            <div class="card-footer">
              <a href="https://github.com/heliguy4599">visit on github</a>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </section>
</BaseLayout>
