---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "linuxjava7";
---

<BaseLayout pageTitle={pageTitle}>
  <header>
    <h1>linuxjava7</h1>
  </header>

  <main>
    <section>
      <p>
        hey there! i'm <strong>linuxjava7</strong>. i'm a hobbyist UI/UX
        designer and frontend developer. i mostly work with open source
        software, like making apps for the <a href="https://gnome.org/">GNOME</a
        > ecosystem, and working on design for open source software. i also dabble
        in app development for Apple platforms.
      </p>
    </section>

    <section>
      <p>here are some other websites you should check out!</p>

      <h2>people</h2>
      <ul>
        <li>
          <a href="https://fizzyizzy05.dev/">https://fizzyizzy05.dev/</a>
        </li>
        <li>
          <a href="https://zoeythewitch.page/">https://zoeythewitch.page/</a>
        </li>
        <li><a href="https://tesk.page/">https://tesk.page/</a></li>
        <li><a href="https://kramo.page/">https://kramo.page/</a></li>
        <li><a href="https://jamie.garden/">https://jamie.garden/</a></li>
        <li><a href="https://greeeen.dev/">https://greeeen.dev/</a></li>
        <li>
          <a href="https://github.com/heliguy4599"
            >https://github.com/heliguy4599</a
          >
        </li>
      </ul>

      <h2>projects</h2>
      <ul>
        <li><a href="https://gnome.org/">https://gnome.org/</a></li>
        <li><a href="https://elementary.io/">https://elementary.io/</a></li>
        <li>
          <a href="https://github.com/greeeen-dev/natsumi-browser"
            >https://github.com/greeeen-dev/natsumi-browser</a
          >
        </li>
      </ul>
    </section>
  </main>
</BaseLayout>
