---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1 id="fuwaflow">fuwaflow</h1>
    <p>
      hii!!! welcome to my little corner of the internet! i&#39;m <strong
        >fuwaflow</strong
      >, a hobbyist UI/UX designer and frontend developer. i really love open
      source and i enjoy making apps for the <a href="https://gnome.org/"
        >GNOME</a
      > and <a href="https://elementary.io/">elementary</a> ecosystems. i also love
      dabbling in app development for Apple platforms whenever i get the chance!
    </p>
    <p>
      this website is where i&#39;ll eventually showcase the work i&#39;m proud
      of (once i actually finish some), and share projects and people i find
      cool! feel free to take a look around! i think you&#39;ll find some really
      lovely stuff!
    </p>
    <hr />
    <h2 id="-about-me-"><strong>about me</strong></h2>
    <p>
      i like making designs that are capable but easy to understand. a big part
      of design to me is it being a medium to make the content shine—whilst also
      having character.
    </p>
    <blockquote>
      <p>
        True simplicity is derived from so much more than just the absence of
        clutter and ornamentation. It&#39;s about bringing order to complexity.
      </p>
      <ul>
        <li>jony ive</li>
      </ul>
    </blockquote>
    <hr />
    <h2 id="-what-i-ve-done-"><strong>what i&#39;ve done</strong></h2>
    <p>some things i&#39;ve worked on in the past</p>
    <h3 id="buildtheearth-net">BuildTheEarth.net</h3>
    <p>
      a project that aims to recreate the Earth in Minecraft. the main project
      is a Guinness World Record holder for the largest Minecraft project in the
      world!
    </p>
    <ul>
      <li>
        <p>
          <strong>Middle East Team</strong> — i worked as the system administrator
          for the minecraft server and now i oversee the middle eastern team as a
          manager.
        </p>
      </li>
      <li>
        <p>
          <strong>Support Staff</strong> — volunteered as support staff from 2020
          to 2023, helping users with technical issues.
        </p>
      </li>
    </ul>
    <h3 id="avdanos">AvdanOS</h3>
    <p>a Linux desktop environment project based on a concept by Avdan.</p>
    <ul>
      <li>
        <strong>UI Designer</strong> — worked from 2022 to 2023 creating UI mockups
        and design systems for the desktop
      </li>
    </ul>
    <hr />
    <h2 id="-cool-projects-"><strong>cool projects</strong></h2>
    <p>here are some great projects that i love and/or work with:</p>
    <ul>
      <li>
        <h3 id="-gnome-"><strong>GNOME</strong></h3>
        <p>a linux desktop ecosystem, with great design and accessibility.</p>
        <p><a href="https://gnome.org/">visit gnome</a></p>
      </li>
      <li>
        <h3 id="-elementaryos-"><strong>elementaryOS</strong></h3>
        <p>a beautiful, accessible, well-designed linux distribution.</p>
        <p><a href="https://elementary.io/">visit elementaryOS</a></p>
      </li>
      <li>
        <h3 id="-natsumi-browser-"><strong>Natsumi Browser</strong></h3>
        <p>an awesome userchrome theme for firefox and forks.</p>
        <p>
          <a href="https://github.com/greeeen-dev/natsumi-browser"
            >view on github</a
          >
        </p>
      </li>
    </ul>
    <hr />
    <h2 id="-cool-people-"><strong>cool people</strong></h2>
    <p>
      here are some really talented people i admire and love collaborating with:
    </p>
    <ul>
      <li>
        <h3 id="-izzy-"><strong>Izzy</strong></h3>
        <p><a href="https://fizzyizzy05.dev/">visit izzy&#39;s site</a></p>
      </li>
      <li>
        <h3 id="-zoey-"><strong>Zoey</strong></h3>
        <p><a href="https://zoeythewitch.page/">visit zoey&#39;s site</a></p>
      </li>
      <li>
        <h3 id="-theevilskeleton-"><strong>TheEvilSkeleton</strong></h3>
        <p><a href="https://tesk.page/">visit their site</a></p>
      </li>
      <li>
        <h3 id="-kramo-"><strong>kramo</strong></h3>
        <p><a href="https://kramo.page/">visit kramo&#39;s site</a></p>
      </li>
      <li>
        <h3 id="-jamie-"><strong>Jamie</strong></h3>
        <p><a href="https://jamie.garden/">visit jamie&#39;s site</a></p>
      </li>
      <li>
        <h3 id="-green-"><strong>green</strong></h3>
        <p><a href="https://greeeen.dev/">visit green&#39;s site</a></p>
      </li>
      <li>
        <h3 id="-heliguy-"><strong>Heliguy</strong></h3>
        <p><a href="https://github.com/heliguy4599">visit on github</a></p>
      </li>
    </ul>
    <hr />
    <h2 id="-find-me-"><strong>find me</strong></h2>
    <ul>
      <li><a href="https://github.com/fuwaflow">github</a></li>
    </ul>
    <hr />
    <p>thanks for visiting!</p>
  </body>
</html>
