---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "linuxjava7";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="h0"><b>linuxjava7</b></h1>
  <section>
    <p>
      hey there! i'm <strong>linuxjava7</strong>. i'm a hobbyist UI/UX designer
      and frontend developer. i mostly work with open source software, like
      making apps for the <a href="https://gnome.org/">GNOME</a> ecosystem, and working
      on design for open source software. i also dabble in app development for Apple
      platforms.
    </p>
  </section>
  <section>
    <p>here are some other websites you should check out!</p>
    <h2><b>people</b></h2>
    <ul class="boxed-list-separate grid">
      <li class="card">
        <div class="card-content">
          <h3><b>Izzy</b></h3>
          <a href="https://fizzyizzy05.dev/">https://fizzyizzy05.dev/</a>
        </div>
      </li>
      <li class="card">
        <div class="card-content">
          <h3><b>Zoey</b></h3>
          <a href="https://zoeythewitch.page/">https://zoeythewitch.page/</a>
        </div>
      </li>
      <li class="card">
        <div class="card-content">
          <h3><b>TheEvilSkeleton</b></h3>
          <a href="https://tesk.page/">https://tesk.page/</a>
        </div>
      </li>
      <li class="card">
        <div class="card-content">
          <h3><b>kramo</b></h3>
          <a href="https://kramo.page/">https://kramo.page/</a>
        </div>
      </li>
      <li class="card">
        <div class="card-content">
          <h3><b>Jamie</b></h3>
          <a href="https://jamie.garden/">https://jamie.garden/</a>
        </div>
      </li>
      <li class="card">
        <div class="card-content">
          <h3><b>green</b></h3>
          <a href="https://greeeen.dev/">https://greeeen.dev/</a>
        </div>
      </li>
      <li class="card">
        <div class="card-content">
          <h3><b>Heliguy</b></h3>
          <a href="https://github.com/heliguy4599"
            >https://github.com/heliguy4599</a
          >
        </div>
      </li>
    </ul>
    <h2><b>projects</b></h2>
    <ul class="boxed-list-separate grid">
      <li class="card">
        <div class="card-content">
          <h3><b>GNOME</b></h3>
          <a href="https://gnome.org/">https://gnome.org/</a>
        </div>
      </li>
      <li class="card">
        <div class="card-content">
          <h3><b>elementary</b></h3>
          <a href="https://elementary.io/">https://elementary.io/</a>
        </div>
      </li>
      <li class="card">
        <div class="card-content">
          <h3><b>Natsumi Browser</b></h3>
          <a href="https://github.com/greeeen-dev/natsumi-browser"
            >https://github.com/greeeen-dev/natsumi-browser</a
          >
        </div>
      </li>
    </ul>
  </section>
</BaseLayout>
