---
const { pageTitle } = Astro.props;
import TabBar from "../components/TabBar.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="headerbar">
      <div class="headerbar-left"></div>
      <div class="headerbar-center">
        <TabBar />
      </div>
      <div class="headerbar-right"></div>
    </div>
    <main>
      <slot />
    </main>
  </body>
</html>
